footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  @media #{$break-wide} {
  	font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}