* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: $stack-roboto;
  color: $black;
  background: $grey;
}

main {
	@media #{$break-wide} {
		padding-top: 20px;
	}
}

main p {
	@media #{$break-wide} {
		line-height: 1.6em;
	}
}

a {
  text-decoration: none;
  color: $dark-grey;
}


a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.social:hover {
  opacity: 1;
}