//Color Variables
$white          	: #fff;
$black          	: #000;
$grey           	: #f7f5f0;
$dark-grey			: #999;
$light-grey 		: #ccc;
$light-black		: #333;


//Font Stacks
$stack-sans-serif	: Helvetica, Arial, sans-serif;
$stack-roboto		: "Roboto", $stack-sans-serif;

//Border Radius
$br-main 			: 5px;

//Asset Paths
$path-img			: '../images';

//Media Query BreakPoints
$break-wide		: '(min-width: 720px)';